.game-toolbar {
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;

  .game-button {
    margin: auto 5px;
  }

  .bootstrap-select {
    margin: 5px;
  }
}

.dropdown-menu > li > a {
  padding: 2px 12px;
}
