.players-container {
  display: flex;
  justify-content: center;
}

.player-component {
  background: #4699ED;
  margin: 15px;
  padding: 5px;
  width: 340px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-name {
  align-self: center;

  p {
    font-size: 35px;
  }

  .material-icons {
    cursor: pointer;
  }
}

.player-life {
  font-size: 45px;
  align-self: center;
}

.player-buttons {
  align-self: center;

  button {
    margin: 4px;
    border: 0;
    height: 100px;
    width: 100px;
    font-size: 25px;
  }

}

.button-plus {
  background: green;
}

.button-minus {
  background: red;
}
